#partners img { width: 100%; height: auto; }
.navbar-default .nav > li.active>a#search { color: #fff; }

.bg-primary hr { border-color: #555; }
.result-box {
	/* background-color: rgba(250,250,210, .7); 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; */
	text-align: left;
	padding: 0;
	background-color: #fff;
	border: 5px solid #ddd;
	margin: 40px 0;
	clear: both;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .2);
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .2);
}
.result-box h3 {
	color: #ddd;
	font-weight: 900;
	font-stretch: ultra-condensed;
	font-size: 1.4em;
	text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
	padding: 10px;
	margin-top: -33px; }
.result-box ul { color: #333; font-size: 1em; padding: 10px 0; }
.result-box li { border-bottom: 1px solid #ddd; list-style-type: none; padding: 10px 20px; }
.result-box p { padding: 0; margin: 0; }
.result-box .result-label {  }
.result-box .result-classification { font-size: .8em; }
.result-box li.last { border-bottom: none; }

.bar { fill: steelblue; }
.bar:hover { fill: brown; }
.axis { font: 10px sans-serif; }
.axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
.x.axis path { display: none; }

/* curly braces */


.curly-braced-block { position: relative; margin: 20px 0; }
.curly-braced-block .icon { position: absolute; height: 100%; }
.curly-braced-block .icon img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.curly-braced-block .icon img { display: inline-block; }
.curly-braced-block .brace-left { top: 0; left: 50px; float: left; width: 20px; height: 100%; position: absolute; }
/* .curly-braced-block .brace-left:before, .brace-left:after { height: 20px; width: 100%; } */
.curly-braced-block .brace-left  .brace-top, .curly-braced-block .brace-left  .brace-bottom { position: absolute; width: 10px; height: 50%; left: 10px; }
.curly-braced-block .brace-left  .brace-top { top: 0;}
.curly-braced-block .brace-left  .brace-bottom { top: 50%;}
.curly-braced-block .brace-left .brace-top:before, .curly-braced-block .brace-left .brace-top:after,
.curly-braced-block .brace-left .brace-bottom:before, .curly-braced-block .brace-left .brace-bottom:after {
	content: ""; height: 50%; width: 10px; display: block; position: absolute; }
.curly-braced-block .brace-left .brace-top:before { top: 0; left: 0; border-left: 2px solid white; 
	-webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; }
.curly-braced-block .brace-left .brace-top:after { bottom: 0; left: -8px; border-right: 2px solid white; 
	-webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; border-bottom-right-radius: 10px; }
.curly-braced-block .brace-left .brace-bottom:before { top: 0; left: -8px; border-right: 2px solid white; 
	-webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px; }
.curly-braced-block .brace-left .brace-bottom:after { bottom: 0; left: 0px; border-left: 2px solid white; 
	-webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px; }
.curly-braced-block  .content { text-align: left; margin-left: 75px; }
.curly-braced-block  .content .text-right { padding-right: 10px; }

#wordCloud { width: 100%; height: 200px; font-family: 'Open Sans'; font-weight: 600; }

/*
hex: #442222
rgb: 68, 34, 34

hex: #665544
rgb: 102, 85, 68

hex: #998877
rgb: 153, 136, 119

hex: #775566
rgb: 119, 85, 102

hex: #442233
rgb: 68, 34, 51
*/